In [1]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_test.csv")


display(x_train.head())
display(y_train.head())

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,15799217,Zetticci,791,Germany,Female,35,7,52436.20,1,1,0,161051.75
1,15748986,Bischof,705,Germany,Male,42,8,166685.92,2,1,1,55313.51
2,15722004,Hsiung,543,France,Female,31,4,138317.94,1,0,0,61843.73
3,15780966,Pritchard,709,France,Female,32,2,0.00,2,0,0,109681.29
4,15636731,Ts'ai,714,Germany,Female,36,1,101609.01,2,1,1,447.73

   CustomerId  Exited
0    15799217       0
1    15748986       0
2    15722004       0
3    15780966       0
4    15636731       0

In [8]:
#classification
y_train.Exited.value_counts()

0    5175
1    1324
Name: Exited, dtype: int64

In [11]:
x_train.nunique()

CustomerId         6499
Surname            2289
CreditScore         459
Geography             3
Gender                4
Age                  69
Tenure               11
Balance            4162
NumOfProducts         4
HasCrCard             2
IsActiveMember        2
EstimatedSalary    6499
dtype: int64

In [12]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6499 entries, 0 to 6498
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerId       6499 non-null   int64
 1   Surname          6499 non-null   object
 2   CreditScore      6499 non-null   int64
 3   Geography        6499 non-null   object
 4   Gender           6499 non-null   object
 5   Age              6499 non-null   int64
 6   Tenure           6499 non-null   int64
 7   Balance          6499 non-null   float64
 8   NumOfProducts    6499 non-null   int64
 9   HasCrCard        6499 non-null   int64
 10  IsActiveMember   6499 non-null   int64
 11  EstimatedSalary  6499 non-null   float64
dtypes: float64(2), int64(7), object(3)
memory usage: 609.4+ KB

In [13]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3501 entries, 0 to 3500
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerId       3501 non-null   int64
 1   Surname          3501 non-null   object
 2   CreditScore      3501 non-null   int64
 3   Geography        3501 non-null   object
 4   Gender           3501 non-null   object
 5   Age              3501 non-null   int64
 6   Tenure           3501 non-null   int64
 7   Balance          3501 non-null   float64
 8   NumOfProducts    3501 non-null   int64
 9   HasCrCard        3501 non-null   int64
 10  IsActiveMember   3501 non-null   int64
 11  EstimatedSalary  3501 non-null   float64
dtypes: float64(2), int64(7), object(3)
memory usage: 328.3+ KB

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [15]:
drop_col = ['Surname','Geography','Gender']
x_train_drop = x_train.drop(columns = drop_col)
x_test_drop = x_test.drop(columns = drop_col)
y = y_train['Exited']
print(x_train_drop.shape, y.shape)

(6499, 9) (6499,)

In [18]:
X_train, X_validation, Y_train, Y_validation = train_test_split(x_train_drop, y, test_size=0.33, random_state=42)
rf = RandomForestClassifier(random_state =23)
rf.fit(X_train,Y_train)

RandomForestClassifier(random_state=23)

In [19]:
from sklearn.metrics import accuracy_score , f1_score, recall_score, roc_auc_score ,precision_score

#model_score
predict_train_label = rf.predict(X_train)
predict_train_proba = rf.predict_proba(X_train)[:,1]

predict_validation_label = rf.predict(X_validation)
predict_validation_prob = rf.predict_proba(X_validation)[:,1]

In [22]:
print('train accuracy :', accuracy_score(Y_train,predict_train_label))
print('validation accuracy :', accuracy_score(Y_validation,predict_validation_label))
print('\n')
print('train f1_score :', f1_score(Y_train,predict_train_label))
print('validation accuracy :', f1_score(Y_validation,predict_validation_label))
print('\n')
print('train recall_score :', recall_score(Y_train,predict_train_label))
print('validation recall_score :', recall_score(Y_validation,predict_validation_label))
print('\n')
print('train precision_score :', precision_score(Y_train,predict_train_label))
print('validation precision_score :', precision_score(Y_validation,predict_validation_label))
print('\n')
print('train auc :', roc_auc_score(Y_train,predict_train_proba))
print('validation auc :', roc_auc_score(Y_validation,predict_validation_prob))

train accuracy : 1.0
validation accuracy : 0.8545454545454545


train f1_score : 1.0
validation accuracy : 0.5542857142857143


train recall_score : 1.0
validation recall_score : 0.4217391304347826


train precision_score : 1.0
validation precision_score : 0.8083333333333333


train auc : 1.0
validation auc : 0.8364940007740937

In [23]:
# test데이터 마찬가지 위와 같은 방식
predict_test_label = rf.predict(x_test_drop)
predict_test_proba = rf.predict_proba(x_test_drop)[:,1]

In [ ]:
# auc, 확률
#pd.DataFrame({'CustomerId': x_test.CustomerId, 'Exited': predict_test_proba}).to_csv('003000000.csv', index=False)

In [25]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score

#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churnk/X_test.csv")


drop_col = ['Surname','Geography','Gender']
x_train_drop = x_train.drop(columns = drop_col)
x_test_drop = x_test.drop(columns = drop_col)

x_train_drop.fillna(0)
x_test_drop.fillna(0)
y = y_train['Exited']

X_train, X_val, Y_train, Y_val = train_test_split(x_train_drop, y, test_size=0.33, random_state=42)
rf = RandomForestClassifier(random_state =23)
rf.fit(X_train,Y_train)

#model_score
pre_X_label = rf.predict(X_train)
pre_X_proba = rf.predict_proba(X_train)[:,1]

pre_X_val_label = rf.predict(X_val)
pre_X_val_proba = rf.predict_proba(X_val)[:,1]

print('train auc :', roc_auc_score(Y_train,pre_X_proba))
print('validation auc :', roc_auc_score(Y_val,pre_X_val_proba))


# test데이터 마찬가지 위와 같은 방식
pre_X_test_label = rf.predict(x_test_drop)
pre_X_test_proba = rf.predict_proba(x_test_drop)[:,1]

train auc : 1.0
validation auc : 0.8364940007740937

In [26]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/HRdata/X_test.csv")


display(x_train.head())
display(y_train.head())

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,25298,city_138,0.836,Male,No relevent experience,Full time course,High School,NaN,5,100-500,Pvt Ltd,1,45
1,4241,city_160,0.920,Male,No relevent experience,Full time course,High School,NaN,5,NaN,NaN,1,17
2,24086,city_57,0.866,Male,No relevent experience,no_enrollment,Graduate,STEM,10,NaN,NaN,1,50
3,26773,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,>4,135
4,32325,city_143,0.740,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,17

   enrollee_id  target
0        25298     0.0
1         4241     1.0
2        24086     0.0
3        26773     0.0
4        32325     1.0

In [28]:
x_train.nunique()

enrollee_id               12452
city                        122
city_development_index       92
gender                        3
relevent_experience           2
enrolled_university           3
education_level               5
major_discipline              6
experience                   22
company_size                  8
company_type                  6
last_new_job                  6
training_hours              241
dtype: int64

In [29]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12452 entries, 0 to 12451
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             12452 non-null  int64
 1   city                    12452 non-null  object
 2   city_development_index  12452 non-null  float64
 3   gender                  9535 non-null   object
 4   relevent_experience     12452 non-null  object
 5   enrolled_university     12195 non-null  object
 6   education_level         12137 non-null  object
 7   major_discipline        10586 non-null  object
 8   experience              12415 non-null  object
 9   company_size            8600 non-null   object
 10  company_type            8471 non-null   object
 11  last_new_job            12179 non-null  object
 12  training_hours          12452 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 1.2+ MB

In [30]:
x_train.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,25298,city_138,0.836,Male,No relevent experience,Full time course,High School,NaN,5,100-500,Pvt Ltd,1,45
1,4241,city_160,0.920,Male,No relevent experience,Full time course,High School,NaN,5,NaN,NaN,1,17
2,24086,city_57,0.866,Male,No relevent experience,no_enrollment,Graduate,STEM,10,NaN,NaN,1,50
3,26773,city_16,0.910,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,>4,135
4,32325,city_143,0.740,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,17

In [31]:
drop_col = ['enrollee_id', 'city','experience']
x_train_drop = x_train.drop(columns=drop_col)
x_test_drop = x_test.drop(columns=drop_col)

x_train_dum = pd.get_dummies(x_train_drop)
x_test_dum = pd.get_dummies(x_test_drop)
y = y_train['target']

X_train, X_val, Y_train, Y_val = train_test_split(x_train_dum,y, test_size=0.33, random_state=42)
rf = RandomForestClassifier(random_state=23)
rf.fit(X_train,Y_train)

RandomForestClassifier(random_state=23)

In [33]:
pred_train_proba=rf.predict_proba(X_train)[:,1]
pred_val_proba=rf.predict_proba(X_val)[:,1]

print('tr_auc:',roc_auc_score(Y_train,pred_train_proba))
print('val_auc:',roc_auc_score(Y_val,pred_val_proba))

tr_auc: 0.9999315855664298
val_auc: 0.7533421976575272

In [35]:
pred_test_proba=rf.predict_proba(x_test_dum)[:,1]
pd.DataFrame({'enrollee_id': x_test.enrollee_id, 'target': pred_test_proba}).to_csv('003000000.csv', index=False)

In [34]:
x_test.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
0,7129,city_23,0.899,Male,No relevent experience,no_enrollment,Graduate,STEM,2,NaN,NaN,1,23
1,31037,city_44,0.725,Male,No relevent experience,Part time course,Masters,STEM,5,NaN,NaN,never,39
2,22179,city_103,0.920,Male,No relevent experience,Full time course,Graduate,STEM,7,NaN,NaN,2,262
3,29724,city_50,0.896,Male,No relevent experience,Full time course,Graduate,STEM,7,NaN,NaN,never,78
4,17977,city_149,0.689,Female,Has relevent experience,Full time course,Masters,STEM,19,50-99,Pvt Ltd,1,125

In [36]:
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_test.csv")


display(x_train.head())
display(y_train.head())

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,6045,A,Flight,4,3,266,5,high,F,5,1590
1,44,F,Ship,3,1,174,2,low,M,44,1556
2,7940,F,Road,4,1,154,10,high,M,10,5674
3,1596,F,Ship,4,3,158,3,medium,F,27,1207
4,4395,A,Flight,5,3,175,3,low,M,7,4833

     ID  Reached.on.Time_Y.N
0  6045                    0
1    44                    1
2  7940                    1
3  1596                    1
4  4395                    1

In [39]:
display(x_train.info())
display(x_train.nunique())
display(y_train.nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6598 entries, 0 to 6597
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   6598 non-null   int64
 1   Warehouse_block      6598 non-null   object
 2   Mode_of_Shipment     6598 non-null   object
 3   Customer_care_calls  6598 non-null   object
 4   Customer_rating      6598 non-null   int64
 5   Cost_of_the_Product  6598 non-null   int64
 6   Prior_purchases      6598 non-null   int64
 7   Product_importance   6598 non-null   object
 8   Gender               6598 non-null   object
 9   Discount_offered     6598 non-null   int64
 10  Weight_in_gms        6598 non-null   int64
dtypes: int64(6), object(5)
memory usage: 567.1+ KB

None

ID                     6598
Warehouse_block           5
Mode_of_Shipment          3
Customer_care_calls       6
Customer_rating           5
Cost_of_the_Product     215
Prior_purchases           8
Product_importance        3
Gender                    2
Discount_offered         65
Weight_in_gms          3365
dtype: int64

ID                     6598
Reached.on.Time_Y.N       2
dtype: int64

In [42]:
drop_col = ['ID']
x_train_drop = x_train.drop(columns=drop_col)
x_test_drop = x_test.drop(columns=drop_col)
x_train_dum = pd.get_dummies(x_train_drop)
x_test_dum = pd.get_dummies(x_test_drop)
y = y_train[y_train.columns[-1]]

X_train, X_val, Y_train, Y_val = train_test_split(x_train_dum, y, test_size=0.33, random_state=42)
rf=RandomForestClassifier(random_state=23)
rf.fit(X_train,Y_train)

RandomForestClassifier(random_state=23)

In [43]:
pred_train_proba = rf.predict_proba(X_train)[:,1]
pred_val_proba = rf.predict_proba(X_val)[:,1]

print('auc_val',roc_auc_score(Y_val,pred_val_proba))

auc_val 0.7261997118475008

In [45]:
pred_test_label = rf.predict(x_test_dum)
pred_test_proba = rf.predict_proba(x_test_dum)[:,1]
pd.DataFrame({'ID':x_test.ID, 'Reached.on.Time_Y.N':pred_test_proba}).to_csv('dddddddddong',index=False)

In [47]:
result = pd.read_csv('../content/dddddddddong')
result.head()

     ID  Reached.on.Time_Y.N
0  6811                 0.53
1  4320                 0.39
2  5732                 0.38
3  7429                 0.52
4  2191                 1.00